/** @format */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    197deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 50%,
    rgba(9, 63, 127, 1) 0%,
    rgba(14, 174, 207, 1) 80%
  );
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.profile_card {
  width: 100%;
  max-width: 500px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile_card .profile_search_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  padding-bottom: 9px;
  background: #fff;
}

.profile_search_container input {
  height: 35px;
  outline: none;
  padding: 5px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid gray;
}

.profile_search_container button {
  height: 35px;
  outline: none;
  padding: 5px;
  font-size: 14px;
  border-radius: 3px;
  background: rgb(7, 107, 128);
  border: none;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

.profile_card .user_card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user_card img {
  /* width: ; */
}
